name: Release ps-common-lib

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  release-ps-common-lib:
    strategy:
      fail-fast: true
      matrix:
        config:
          - { os: ubuntu-22.04, cc: "gcc", cxx: "g++" }
          - { os: macos-14, cc: "clang", cxx: "clang++" }

    runs-on: ${{ matrix.config.os }}
    
    steps:
      - name: Release ps-common-lib component
        uses: ostis-ai/release-conan@0.1.0
        with:
          name: ps-common-lib
          version: 0.1.1
          directory: ps-common-lib
          configure-preset: release-conan
          build-preset: release
          conan-username: ${{ secrets.CONAN_USERNAME }}
          conan-api-key: ${{ secrets.CONAN_API_KEY }}
